*{

box-sizing:border-box;

font-family:Arial;

}

html{

scroll-behavior:smooth;

}


body{

margin:0;

background:#f4f7fb;

color:#111;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 50px;

background:white;

}



nav a{

margin:15px;

text-decoration:none;

color:black;

}



button{

padding:10px 20px;

border:none;

border-radius:8px;

background:#2563eb;

color:white;

cursor:pointer;

}




.hero{

text-align:center;

padding:50px;

background:#2563eb;

color:white;

}




.filters{

display:flex;

gap:20px;

padding:30px;

justify-content:center;

}



input,select{

padding:12px;

border-radius:8px;

border:1px solid gray;

}




#jobs{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

padding:30px;

}



.job{

background:white;

padding:20px;

border-radius:15px;

box-shadow:0 5px 15px #ddd;

}




.loader{

padding:50px;

text-align:center;

}



.pagination{

text-align:center;

padding:30px;

}





.dark{

background:#111827;

color:white;

}



.dark header{

background:#1f2937;

}



.dark .job{

background:#374151;

}



.dark nav a{

color:white;

}
.modal{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.6);

align-items:center;

justify-content:center;

}



.application{


background:white;

padding:30px;

border-radius:15px;

width:350px;


display:flex;

flex-direction:column;

gap:15px;


}



.application input,
.application textarea{


padding:12px;

border-radius:8px;

border:1px solid gray;


}



.application textarea{


height:100px;


}



.dark .application{


background:#1f2937;

color:white;


}


.job{

transition:0.3s ease;

}


.job:hover{

transform:translateY(-10px);

box-shadow:0 15px 30px rgba(0,0,0,0.2);

}


nav a{

transition:0.3s;

}


nav a:hover{

color:#2563eb;

}

.skeleton{

height:180px;

background:#ddd;

animation:loading 1.5s infinite;

}


@keyframes loading{


0%{

opacity:0.5;

}


50%{

opacity:1;

}


100%{

opacity:0.5;

}


}



.dark .skeleton{

background:#374151;

}